html, body {
  height: 100%;
  background-color: darkred;
  text-align: center;
  font-family: 'Roboto';
  font-size: 15px;
  color: white;
}

img {
  margin: 0 auto;
  height: 400px;
  width: 50%;
}

.container {
  background-color: black;
}
