html, body {
  height: 100%;
  background-color: darkred;
  text-align: center;
  font-size: 15px;
  font-weight: 200;
  color: white;
}

img {
  margin: 0 auto;
  height: 400px;
  width: 50%;
}

.container {
  background-color: black;
}

@media only screen and (max-width: 425px) {
  img {
    display: block;
    width: 100%;
  }
}
